#explore{
    margin:0 auto;
    margin-top: 50px;
    max-width:1060px;
    display: flex;
    flex-wrap: wrap;
    

}
.explore-image{
    max-width:auto;
    padding:15px;
}


.explore-image:hover{
    opacity:.5;
    cursor: pointer;
}