.edit-desc {
  display: flex;
  margin-bottom: 40px;
}

.edit-desc-div {
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: 5;
}

.edit-button {
  /* position: relative;
  display: flex;
  background-color: transparent;
  color: #313131;
  transition-duration: 0.3s;
  text-decoration: none;
  border: 0; */

  display:flex;
  background-color: transparent;
  color: #313131;
  transition-duration: 0.3s;
  text-decoration: none;
  border: 0;

}

.button-holder {
  width: 70px;
}
.edit-dropdown {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: white;
  margin-bottom: px;
}

.edit-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  height: 50px;
  width: 70px;
  margin-right: 15px;
  margin-top: 5px;
}
