.modal3 {
  position: fixed;
  width: 260px;
  height: 180px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  opacity: .9;
}


.input-values {
  /* display: flex; */
  margin-left: 20px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}


.modal-button {
  background-color: #FFB700;
  display: flex;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 10;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Kaushan Script',
    cursive;
  font-weight: 300;
  color: black;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  margin-top: 10px;
}

.title_container{
  margin-left: 40px;
}
.modal-button:hover {
  border-color: rgba(255, 255, 255, 1);
}

@media all and (max-width:30em) {
  .modal-button {
    display: block;
    margin: 0.2em auto;
  }
}
