.modal3 {

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -50%);
  background: white;
  box-shadow: 0 0 30px 8px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  align-items: center;
}

.input_field {
  display: flex;
  position: relative;
  align-items: center;
justify-content: space-between;
}

.modal-button2 {
  background-color: #ffb700;
  display: flex;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 10;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Kaushan Script", cursive;
  font-weight: 300;
  color: black;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  margin-top: 10px;
  cursor: pointer;
}

.modal-button2:hover {
  border-color: rgba(255, 255, 255, 1);
}

@media all and (max-width: 30em) {
  .modal-button2 {
    display: block;
    margin: 0.2em auto;
  }
}
