.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  top: -4px;
  text-decoration: none;
  padding-top: 5px;
}

li {
  list-style-type: none;
}

.demo {
  position: relative;
  cursor: pointer;
  border: 0;
  transform: none;
  background-color: #fac745;
  font-family: "Kaushan Script", cursive;
}
/*
.demo:hover {
  border-color: #191716;
} */


.navbar-unauth{
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.left li {
  float: left;
  margin-left: 1.5em;
}
.right {
  display: flex;
  width: 300px;
  margin-right: 10%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}
.right li {
  display: flex;
  justify-content: space-between;
  margin-right: 8px;
  margin-left: 5px;
  margin-top: 6px;
}

.nav-signup {
  margin: 0 10px 0 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.nav-upload {

  padding-left: 5px;
  padding-right: 5px;
  margin-left: -5px;
}

.nav-explore {
  margin: 0;
  padding-right: 10px;
  margin-left: -12px;
}

.navlinks {
  padding-top: 15px;
  margin-bottom: 20px;
  background-color: #191716;

}

.logo {
  text-decoration: none;
  font-family: "Kaushan Script", cursive;
  margin: 6px 0 5px 0;
  padding: 0 0 0 0;
  color: #fac745;
  font-size: 30px;
}

body {
  margin: 0;
}

.navo1 {
  background-image: url("../../images/home.svg");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  height: 30px;
  width: 30px;
}

.navo2 {
  background-image: url("../../images/cloud-computing\ \(2\).svg");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  height: 30px;
  width: 30px;
}

.navo3 {
  background-image: url("../../images/compass.svg");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  height: 30px;
  width: 30px;
}

.navo4 {
  background-image: url("../../images/log-in.svg");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  height: 30px;
  width: 30px;
}

.navo5 {
  background-image: url("../../images/sign-up.svg");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  height: 30px;
  width: 30px;
}

.navo6 {
  background-image: url("../../images/logout.svg");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  height: 30px;
  width: 30px;
  margin-left: -5px;
  cursor: pointer;
}
