body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.holder-container {
  background-image: url(../../images/Wavy_Tech-28_Single-10.jpg);
  position: absolute;
  margin-left: 30px;
  background-repeat: no-repeat;
  /* background-size: 70%; */
  background-size: 55%;
  background-position: center;
  height: 90vh;
  width: 88vw;
  top: 60px;
  left: 10%;
  z-index: -500000;
  max-width: 100%;
}

.holder-container2 {
  background-image: url(../../images/uploadbackground.jpg);
  position: absolute;
  margin-left: 30px;
  background-repeat: no-repeat;
  /* background-size: 70%; */
  background-size: 55%;
  background-position: center;
  height: 90vh;
  width: 88vw;
  top: 60px;
  left: 10%;
  z-index: -500000;
  max-width: 100%;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  position: fixed;
  width: 250px;
  height: 250px;
  top: 50%;
  left: 25%;
  transform: translate(-49%, -50%);
  background: white;
  box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.loginpic {
  margin: 5px;
}

.loginContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  height: 100%;
  justify-content: space-between;
}

.input-values {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 70%;
}

.input-value-holder:first-child {
  margin-bottom: 10px;
}

.input-span {
  display: flex;
  align-items: center;
}

.modal-button {
  text-align: center;
  color: black;
  font-weight: 300;
  font-family: "Kaushan Script", cursive;
  background-color: #fac745;
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  position: relative;
  font-size: 16px;
  top: 15px;
}

/* .modal-button:hover {
  border-color: rgba(255, 255, 255, 1);
} */

@media all and (max-width: 30em) {
  .modal-button {
    display: block;
    margin: 0.2em auto;
  }
}

.login-greet {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 0;
  font-size: 25px;
  font-weight: 600;
  height: 40%;
  background-color: #fac745;
  color: white;
}

.input-value-holder {
  display: flex;
}

#signup-form {
  height: 400px;
}

#signup-greet {
  height: 91px;
}

.input-value-holder-signup {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

#signup-input-values{
  width: 188px;
  justify-content: space-evenly;
  margin-top: 25px;
}
