.userProfile-container{
    max-width: 93.5rem;
    margin:0 auto;
    padding: 0 2rem;
    
}
.userProfile{
    padding:5rem 0;
}

.profile-image{
    float:left;
    width:calc(33% - 1rem);
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right: 3rem;
}

.profile-image img {
    border-radius: 50%;
    width:220px;
    height:220px;
}
.userProfile-settings{
    margin-top: 1.1rem;
}
.userProfile-settings h1{
    display:inline-block;
    font-size: 3.2rem;
    font-weight:300;
}
#edit-userProfile-button{
    cursor:pointer;
    display: inline-block;
    font:inherit;
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.2rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
}
#follow-userProfile-button{
    cursor:pointer;
    display: inline-block;
    font:inherit;
    font-size: 1.4rem;
    color:#fff;
    background-color:#0095F6;
    line-height: 1.8;
    border: 0.1rem none;
    border-radius: 0.2rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
}
#edit-userProfile-button:focus{
    outline: 0.5rem auto  #4d90fe;
}
#userProfileCog{
    font-size: 2rem;
    margin-left: 1rem;
}
#userProfileMes{
    font-size: 2rem;
    margin-left: 1rem;
}
.userProfile-stats{
    margin-top:1rem;
}
.userProfile-stats ul{
    padding-left:0;
}
.userProfile-settings,
.userProfile-stats{
    float: left;
    width:calc(67% - 2rem)
}
.userProfile-stats li{
    display: inline-block;
    font-size: 1.4rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}
.userProfile-stats li:last-of-type{
    margin-right:0;
}
.posts-gallery{
    display: flex;
    flex-wrap: wrap;
    margin: 14rem 8rem;
    padding-bottom: 3rem;

}
.posts-gallery-photo{
    position: relative;
    flex: 0 1 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
}
.gallery-image{
    width: 300px;
    height:300px;
    background-size:cover;
    background-position: center;
}

.userProfile-settings:hover #userProfileCog{
    cursor: pointer;
    
}
.userProfile-settings:hover #userProfileMes{
    cursor: pointer;
    
}
    